.link_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  gap: 10px;
  transition: all ease-in-out 0.2s;

  .link_url {
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 18px 0;

    .link_icon {
      width: 20px;
      height: 20px;
      padding-left: 10px;
      filter: var(--filter);
    }

    .link_name {
      width: 100%;
      text-align: center;
      color: var(--text-color);
      text-transform: capitalize;
    }
  }

  .link_options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin: 0;

    & div {
      display: flex;
      padding-right: 10px;
      & svg {
        filter: invert();
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--hover-backgound-color);
    transition: all ease-in-out 0.2s;

    .link_url {
      .link_name {
        color: var(--text-hover-color);
      }
    }

    & div {
      & svg {
        filter: none;
      }
    }
  }
}

.link_wrapper[data-theme="light"] {
  &:hover {
    & div {
      & svg {
        filter: invert();
      }
    }
  }
}

.link_wrapper[data-theme="light"] {
  & div {
    & svg {
      filter: none;
    }
  }
}
