.profile{
  text-align: center;
}

.image{
  width: 190PX;
  height: 190PX;
  border-radius: 50%;
  object-fit: cover;
}

.text{
  color: var(--text-color);
}

.title{
  color: var(--title-text-color);
  font-size: 1.7rem;
}

.subtitle{
  font-size: 1rem;
}

.description {
  margin-top: 20px;
}