.profile{
  text-align: center;
}

.image{
  border-radius: 50px;
  object-fit: cover;
}

.text{
  color: var(--text-color);
}

.title{
  font-size: 1.7rem;
}

.subtitle{
  font-size: 1rem;
}

.description {
  margin-top: 20px;
}