.container {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
  padding: 0 10px;
}

main {
  box-sizing: border-box;
  width: 100%;
}

.listItem {
  list-style: none;
}

.addLink {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
}

.formWrapper {
  width: 100%;
}

.bgTop {
  position: absolute;
  inset: 0px;
  z-index: -10;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  background-image: linear-gradient(to right, #8080800a 1px, transparent 1px),
    linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bgBottom {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: -10;
  margin: auto;
  height: 310px;
  width: 310px;
  border-radius: 9999px;
  background: rgb(232 121 249 / 1);
  opacity: 0.2;
  filter: blur(50px);
}
