:root {
  --hover-backgound-color: #f7f7f7;
  --border-color: #fff;
  --text-color: #fff;
  --text-hover-color: #1a1a1a;
  --background-color: #00091d;
  --button-background-color: #fafafa;
  --button-text-color: #1a1a1a;
  --filter: invert();

  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="light"] {
  --hover-backgound-color: #070707;
  --border-color: #000;
  --text-color: #000;
  --text-hover-color: #fafafa;
  --background-color: #fafafa;
  --button-background-color: #1a1a1a;
  --button-text-color: #fff;
  --filter: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Karla", sans-serif;

  transition: background-color 0.3s ease, color 0.3s ease;
}
